In [ ]:
# Importare le librerie
import pandas as pd
import numpy as np

# Montare Google Drive in Colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1. GHG_Climat.csv:

In [ ]:
# 1. GHG_EMISS.csv:

# Caricamento dei file da Google Drive
ghg = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/01_Dataset_final-project_GHG-Climat.csv')

In [ ]:
ghg.head()

,iso,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,CHN,China,MtCO2e,2892.41,3039.78,3168.74,3398.46,3558.02,3961.46,3982.98,...,10382.27,10667.19,11154.26,11233.38,11097.28,11126.01,11366.60,11877.10,12085.05,12295.62
1,USA,United States,MtCO2e,5448.74,5403.58,5487.86,5599.07,5693.42,5761.90,5933.25,...,5847.39,5628.80,5769.63,5816.48,5705.12,5783.00,5728.79,5935.52,5819.48,5289.13
2,IND,India,MtCO2e,1020.11,1074.57,1099.48,1132.63,1177.90,1244.34,1293.39,...,2619.73,2776.41,2840.44,3022.20,3041.47,3116.76,3241.44,3406.53,3380.31,3166.95
3,RUS,Russia,MtCO2e,2624.74,2563.84,2404.96,2212.92,1977.72,1900.65,1858.96,...,1681.70,1659.67,1618.57,1607.17,1587.48,1717.74,1750.27,1843.24,1889.93,1799.98
4,IDN,Indonesia,MtCO2e,1140.84,1161.96,1183.03,1199.29,1220.81,1257.55,1101.48,...,1641.84,1661.05,1597.66,1973.80,2022.03,1384.26,1395.33,1641.42,1913.58,1475.83

In [ ]:
ghg.shape

(195, 34)

In [ ]:
ghg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   iso             195 non-null    object
 1   Country/Region  195 non-null    object
 2   unit            193 non-null    object
 3   1990            193 non-null    object
 4   1991            193 non-null    float64
 5   1992            193 non-null    float64
 6   1993            193 non-null    float64
 7   1994            193 non-null    float64
 8   1995            193 non-null    float64
 9   1996            193 non-null    float64
 10  1997            193 non-null    float64
 11  1998            193 non-null    float64
 12  1999            193 non-null    float64
 13  2000            193 non-null    float64
 14  2001            193 non-null    float64
 15  2002            193 non-null    float64
 16  2003            193 non-null    float64
 17  2004            193 non-null    float64
 18  2005            193 non-null    float64
 19  2006            193 non-null    float64
 20  2007            193 non-null    float64
 21  2008            193 non-null    float64
 22  2009            193 non-null    float64
 23  2010            193 non-null    float64
 24  2011            193 non-null    float64
 25  2012            193 non-null    float64
 26  2013            193 non-null    float64
 27  2014            193 non-null    float64
 28  2015            193 non-null    float64
 29  2016            193 non-null    float64
 30  2017            193 non-null    float64
 31  2018            193 non-null    float64
 32  2019            193 non-null    float64
 33  2020            193 non-null    float64
dtypes: float64(30), object(4)
memory usage: 51.9+ KB

In [ ]:
ghg['1990'] = pd.to_numeric(ghg['1990'], errors='coerce')

In [ ]:
ghg.dtypes

iso                object
Country/Region     object
unit               object
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
dtype: object

In [ ]:
ghg.isnull().sum()

iso               0
Country/Region    0
unit              2
1990              3
1991              2
1992              2
1993              2
1994              2
1995              2
1996              2
1997              2
1998              2
1999              2
2000              2
2001              2
2002              2
2003              2
2004              2
2005              2
2006              2
2007              2
2008              2
2009              2
2010              2
2011              2
2012              2
2013              2
2014              2
2015              2
2016              2
2017              2
2018              2
2019              2
2020              2
dtype: int64

In [ ]:
# ci sono solo due righe testuali in fondo come valori nulli
ghg = ghg.dropna()

In [ ]:
desc_stats = ghg.describe()
print(desc_stats)

              1990         1991         1992         1993         1994  \
count   192.000000   192.000000   192.000000   192.000000   192.000000
mean    164.339687   165.192604   165.109323   165.912187   167.249271
std     520.075041   521.404245   525.868901   534.832913   541.885043
min      -5.720000    -5.720000    -5.740000    -5.760000    -5.730000
25%       6.432500     6.457500     6.587500     6.855000     6.427500
50%      28.845000    28.090000    27.885000    25.930000    27.000000
75%      95.160000    93.927500    95.075000    96.297500    98.290000
max    5448.740000  5403.580000  5487.860000  5599.070000  5693.420000

              1995         1996         1997         1998         1999  ...  \
count   192.000000   192.000000   192.000000   192.000000   192.000000  ...
mean    171.233594   173.157448   180.054375   177.506302   177.263802  ...
std     559.675375   568.688084   593.308964   589.989316   588.145643  ...
min      -5.640000    -5.610000    -5.530000    -5.520000    -5.470000  ...
25%       6.570000     6.627500     6.615000     6.807500     6.992500  ...
50%      28.400000    29.540000    29.765000    30.685000    32.105000  ...
75%     103.827500    99.472500    98.415000   102.070000   104.507500  ...
max    5761.900000  5933.250000  6193.380000  6241.110000  6242.510000  ...

               2011          2012          2013          2014          2015  \
count    192.000000    192.000000    192.000000    192.000000    192.000000
mean     227.408229    230.386823    233.742083    237.007292    236.504010
std      900.978185    913.955602    947.873027    959.825805    948.656734
min     -174.450000   -176.750000   -186.000000   -186.660000   -184.380000
25%        8.585000      8.520000      8.907500      8.890000      8.400000
50%       34.060000     33.620000     34.580000     35.165000     35.315000
75%      118.217500    120.702500    120.420000    121.260000    123.950000
max    10382.270000  10667.190000  11154.260000  11233.380000  11097.280000

               2016          2017          2018          2019          2020
count    192.000000    192.000000    192.000000    192.000000    192.000000
mean     239.570000    242.912240    249.019271    250.657031    240.433125
std      949.572481    965.008343   1006.496527   1017.458530   1007.648136
min       -0.770000     -0.580000     -0.490000     -0.380000     -0.810000
25%        9.362500      9.582500      9.877500      9.845000      9.292500
50%       38.900000     39.460000     39.715000     40.935000     42.720000
75%      127.485000    126.427500    125.930000    128.632500    128.205000
max    11126.010000  11366.600000  11877.100000  12085.050000  12295.620000

[8 rows x 31 columns]

In [ ]:
# Volevo controllare se effettivamente venivano trovate righe duplicate.

# Numero di righe prima dell'eliminazione delle righe duplicate
initial_rows = ghg.shape[0]

# Rimuovere le righe duplicate
ghg.drop_duplicates(inplace=True)

# Numero di righe dopo l'eliminazione delle righe duplicate
final_rows = ghg.shape[0]

# Calcolare la differenza
duplicate_rows_removed = initial_rows - final_rows

print("duplicated rows:", duplicate_rows_removed)

ghg.head()

duplicated rows: 0

,iso,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,CHN,China,MtCO2e,2892.41,3039.78,3168.74,3398.46,3558.02,3961.46,3982.98,...,10382.27,10667.19,11154.26,11233.38,11097.28,11126.01,11366.60,11877.10,12085.05,12295.62
1,USA,United States,MtCO2e,5448.74,5403.58,5487.86,5599.07,5693.42,5761.90,5933.25,...,5847.39,5628.80,5769.63,5816.48,5705.12,5783.00,5728.79,5935.52,5819.48,5289.13
2,IND,India,MtCO2e,1020.11,1074.57,1099.48,1132.63,1177.90,1244.34,1293.39,...,2619.73,2776.41,2840.44,3022.20,3041.47,3116.76,3241.44,3406.53,3380.31,3166.95
3,RUS,Russia,MtCO2e,2624.74,2563.84,2404.96,2212.92,1977.72,1900.65,1858.96,...,1681.70,1659.67,1618.57,1607.17,1587.48,1717.74,1750.27,1843.24,1889.93,1799.98
4,IDN,Indonesia,MtCO2e,1140.84,1161.96,1183.03,1199.29,1220.81,1257.55,1101.48,...,1641.84,1661.05,1597.66,1973.80,2022.03,1384.26,1395.33,1641.42,1913.58,1475.83

In [ ]:
ghg.to_csv('Clean_Emissions.csv', index=False)

# 2. UN-Group.csv:

In [ ]:
# 2. UN-Group.csv:

# Caricamento dei file da Google Drive
un_group_df = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/01_Dataset_final-project - UN-Group.csv')

un_group_df.head()

,Geographic regions,Label/Separator,STRAT-1,STRAT-2,STRAT-3
0,AFRICA,Geographic region,NaN,NaN,NaN
1,Eastern Africa,Subregion,REGION,SUBREGION,GEOGRAPHIC REGION
2,Burundi,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
3,Comoros,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
4,Djibouti,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa

In [ ]:
shape = un_group_df.shape
print(shape)

(264, 5)

In [ ]:
un_group_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Geographic regions  264 non-null    object
 1   Label/Separator     264 non-null    object
 2   STRAT-1             238 non-null    object
 3   STRAT-2             233 non-null    object
 4   STRAT-3             238 non-null    object
dtypes: object(5)
memory usage: 10.4+ KB

In [ ]:
un_group_df_original = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/01_Dataset_final-project - UN-Group.csv')

# Identificare le righe che fungono da intestazioni o etichette
header_rows = un_group_df_original[un_group_df_original['Label/Separator'].isin(['Geographic region', 'Subregion'])]

header_rows.head()

   Geographic regions    Label/Separator STRAT-1    STRAT-2            STRAT-3
0              AFRICA  Geographic region     NaN        NaN                NaN
1      Eastern Africa          Subregion  REGION  SUBREGION  GEOGRAPHIC REGION
22      Middle Africa          Subregion     NaN        NaN                NaN
32    Northern Africa          Subregion     NaN        NaN                NaN
40    Southern Africa          Subregion     NaN        NaN                NaN

In [ ]:
# Rimuovere le righe duplicate
initial_rows_un_group = un_group_df_original.shape[0]
un_group_df_original.drop_duplicates(inplace=True)
final_rows_un_group = un_group_df_original.shape[0]

# Identificare e mostrare le righe di intestazione/etichetta
header_rows = un_group_df_original[un_group_df_original['Label/Separator'].isin(['Geographic region', 'Subregion'])]

# Rimuovere le righe di intestazione/etichetta
un_group_df_cleaned = un_group_df_original.drop(header_rows.index)

# Sostituire i valori mancanti con "Unknown"
un_group_df_cleaned.fillna("Unknown", inplace=True)

un_group_df_cleaned.head()

,Geographic regions,Label/Separator,STRAT-1,STRAT-2,STRAT-3
2,Burundi,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
3,Comoros,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
4,Djibouti,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
5,Eritrea,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa
6,Ethiopia,Country/Area,Sub-Saharan Africa,Eastern Africa,Africa

In [ ]:
un_group_df_cleaned.to_csv('Clean_UN_Group.csv', index=False)

# 3. unpopulation_dataportal_20230906231844.csv

In [ ]:
pop_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/unpopulation_dataportal_20230906231844.csv')
pop = pd.DataFrame(pop_raw)
pop.head()

,UN_Region,Year,Total population by sex,Total fertility rate,Life expectancy at birth,Infant mortality rate (IMR),Total net-migration
0,Africa,1980,481542.77,6.60,49.51,116.45,-442.36
1,Africa,1981,495655.34,6.56,49.91,114.18,234.56
2,Africa,1982,510540.23,6.51,50.28,111.68,186.68
3,Africa,1983,525335.03,6.47,49.55,114.10,-534.00
4,Africa,1984,540182.78,6.41,49.71,112.01,-172.84

In [ ]:
pop.shape

(1188, 7)

In [ ]:
pop.isnull().sum()

UN_Region                      0
Year                           0
Total population by sex        0
Total fertility rate           0
Life expectancy at birth       0
Infant mortality rate (IMR)    0
Total net-migration            0
dtype: int64

In [ ]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   UN_Region                    1188 non-null   object
 1   Year                         1188 non-null   int64
 2   Total population by sex      1188 non-null   float64
 3   Total fertility rate         1188 non-null   float64
 4   Life expectancy at birth     1188 non-null   float64
 5   Infant mortality rate (IMR)  1188 non-null   float64
 6   Total net-migration          1188 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 65.1+ KB

In [ ]:
pop.to_csv('Clean_Population.csv', index=False)

# 4. GDP-VAR

In [ ]:
gdp_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/01_Dataset_final-project - GDP-VAR.csv')
gdp = pd.DataFrame(gdp_raw)
gdp.head()

,Real GDP growth (Annual percent change),UN_REGION,UN-SUBREGION,STRAT-3,1980,1981,1982,1983,1984,1985,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,Central and Southern Asia,Southern Asia,Asia,no data,no data,no data,no data,no data,no data,...,3.9,-2.4,no data,no data,no data,no data,no data,no data,no data,no data
1,Albania,Europe and Northern America,Southern Europe,Europe,2.7,5.7,2.9,1.1,2,-1.5,...,2.1,-3.5,8.5,3.7,2.2,3.3,3.4,3.4,3.4,3.4
2,Algeria,Northern Africa and Western Asia,Northern Africa,Africa,-5.4,3,6.4,5.4,5.6,5.6,...,1,-5.1,3.4,2.9,2.6,2.6,2.2,2.1,1.7,1.8
3,Andorra,Europe and Northern America,Southern Europe,Europe,no data,no data,no data,no data,no data,no data,...,2,-11.2,8.9,8.7,1.3,1.5,1.5,1.5,1.5,1.5
4,Angola,Sub-Saharan Africa,Middle Africa,Africa,2.4,-4.4,0,4.2,6,3.5,...,-0.7,-5.6,1.1,2.8,3.5,3.7,4,4.1,4.2,4.2

In [ ]:
# Seleziona solo le colonne degli anni (1980-2028)
colonne_anni = [str(anno) for anno in range(1980, 2029)]

# Converti le colonne degli anni in numeriche
gdp[colonne_anni] = gdp[colonne_anni].apply(pd.to_numeric, errors='coerce')

print(gdp.dtypes)

Real GDP growth (Annual percent change)     object
UN_REGION                                   object
UN-SUBREGION                                object
STRAT-3                                     object
1980                                       float64
1981                                       float64
1982                                       float64
1983                                       float64
1984                                       float64
1985                                       float64
1986                                       float64
1987                                       float64
1988                                       float64
1989                                       float64
1990                                       float64
1991                                       float64
1992                                       float64
1993                                       float64
1994                                       float64
1995                                       float64
1996                                       float64
1997                                       float64
1998                                       float64
1999                                       float64
2000                                       float64
2001                                       float64
2002                                       float64
2003                                       float64
2004                                       float64
2005                                       float64
2006                                       float64
2007                                       float64
2008                                       float64
2009                                       float64
2010                                       float64
2011                                       float64
2012                                       float64
2013                                       float64
2014                                       float64
2015                                       float64
2016                                       float64
2017                                       float64
2018                                       float64
2019                                       float64
2020                                       float64
2021                                       float64
2022                                       float64
2023                                       float64
2024                                       float64
2025                                       float64
2026                                       float64
2027                                       float64
2028                                       float64
dtype: object

In [ ]:
# Seleziona solo le colonne degli anni (1980-2028)
colonne_anni = [str(anno) for anno in range(1980, 2029)]

# Converti le colonne degli anni in numeriche
gdp[colonne_anni] = gdp[colonne_anni].apply(pd.to_numeric, errors='coerce')

print(gdp.dtypes)

Real GDP growth (Annual percent change)     object
UN_REGION                                   object
UN-SUBREGION                                object
STRAT-3                                     object
1980                                       float64
1981                                       float64
1982                                       float64
1983                                       float64
1984                                       float64
1985                                       float64
1986                                       float64
1987                                       float64
1988                                       float64
1989                                       float64
1990                                       float64
1991                                       float64
1992                                       float64
1993                                       float64
1994                                       float64
1995                                       float64
1996                                       float64
1997                                       float64
1998                                       float64
1999                                       float64
2000                                       float64
2001                                       float64
2002                                       float64
2003                                       float64
2004                                       float64
2005                                       float64
2006                                       float64
2007                                       float64
2008                                       float64
2009                                       float64
2010                                       float64
2011                                       float64
2012                                       float64
2013                                       float64
2014                                       float64
2015                                       float64
2016                                       float64
2017                                       float64
2018                                       float64
2019                                       float64
2020                                       float64
2021                                       float64
2022                                       float64
2023                                       float64
2024                                       float64
2025                                       float64
2026                                       float64
2027                                       float64
2028                                       float64
dtype: object

In [ ]:
gdp.isnull().sum()

Real GDP growth (Annual percent change)     1
UN_REGION                                   8
UN-SUBREGION                               10
STRAT-3                                     8
1980                                       61
1981                                       57
1982                                       56
1983                                       56
1984                                       56
1985                                       56
1986                                       55
1987                                       54
1988                                       53
1989                                       53
1990                                       53
1991                                       42
1992                                       39
1993                                       27
1994                                       25
1995                                       23
1996                                       20
1997                                       20
1998                                       17
1999                                       14
2000                                       14
2001                                        7
2002                                        6
2003                                        5
2004                                        5
2005                                        4
2006                                        4
2007                                        4
2008                                        4
2009                                        4
2010                                        4
2011                                        5
2012                                        3
2013                                        3
2014                                        3
2015                                        3
2016                                        3
2017                                        3
2018                                        3
2019                                        3
2020                                        3
2021                                        5
2022                                        5
2023                                        5
2024                                        6
2025                                        7
2026                                        7
2027                                        7
2028                                        7
dtype: int64

In [ ]:
media_per_regione = gdp.groupby('STRAT-3')['1980'].mean()
print(media_per_regione)

STRAT-3
Africa                             1.906818
Asia                               3.862500
Europe                             2.756522
Latin America and the Caribbean    4.165625
MISSING VALUE                      2.147619
Northern America                   0.950000
Oceania                            1.388889
Name: 1980, dtype: float64

In [ ]:
missing_region = gdp[gdp['STRAT-3'].isnull()]
missing_region

,Real GDP growth (Annual percent change),UN_REGION,UN-SUBREGION,STRAT-3,1980,1981,1982,1983,1984,1985,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
199,Caribbean,NaN,NaN,NaN,4.3,2.2,0.2,-1.9,-0.2,-0.1,...,0.7,-4.8,4.5,13.4,9.9,14.1,2.5,13.8,2.3,2.3
200,Central America,NaN,NaN,NaN,2.3,1.4,-1.8,0.9,2.1,0.2,...,3.3,-7.2,11.0,5.3,3.8,3.8,3.9,4.0,4.0,4.0
204,Europe,NaN,NaN,NaN,1.4,0.0,0.7,2.0,2.5,2.5,...,2.0,-5.5,5.7,2.4,0.6,1.5,2.0,1.9,1.7,1.6
209,South America,NaN,NaN,NaN,5.7,-2.3,-0.4,-2.8,4.4,3.9,...,-0.1,-6.3,7.5,3.9,1.0,1.9,2.2,2.3,2.3,2.3
213,Western Europe,NaN,NaN,NaN,1.6,0.3,0.7,1.7,2.5,2.6,...,1.6,-6.6,5.7,3.6,0.6,1.3,1.9,1.7,1.5,1.4
222,Latin America and the Caribbean,NaN,NaN,NaN,6.4,0.9,-0.5,-2.8,3.9,3.2,...,0.2,-6.8,7.0,4.0,1.6,2.2,2.3,2.6,2.3,2.3
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,©IMF. 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Definisci una funzione per sostituire i valori nulli con la media della regione per un determinato anno
def fill_na_with_region_mean(series):
    return series.fillna(series.groupby(gdp['STRAT-3']).transform('mean'))

# Applica la funzione a ciascuna colonna degli anni (dal 1980 al 2028)
for anno in range(1980, 2028):
    colonna_anno = f'{anno}'
    gdp[colonna_anno] = fill_na_with_region_mean(gdp[colonna_anno])

In [ ]:
gdp.head()

,Real GDP growth (Annual percent change),UN_REGION,UN-SUBREGION,STRAT-3,1980,1981,1982,1983,1984,1985,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,Central and Southern Asia,Southern Asia,Asia,3.862500,5.621212,2.730303,5.042424,7.315152,3.890909,...,3.9,-2.4,5.204255,4.055319,4.538298,4.148936,3.997872,3.855319,3.774468,NaN
1,Albania,Europe and Northern America,Southern Europe,Europe,2.700000,5.700000,2.900000,1.100000,2.000000,-1.500000,...,2.1,-3.5,8.500000,3.700000,2.200000,3.300000,3.400000,3.400000,3.400000,3.4
2,Algeria,Northern Africa and Western Asia,Northern Africa,Africa,-5.400000,3.000000,6.400000,5.400000,5.600000,5.600000,...,1.0,-5.1,3.400000,2.900000,2.600000,2.600000,2.200000,2.100000,1.700000,1.8
3,Andorra,Europe and Northern America,Southern Europe,Europe,2.756522,1.004167,1.280000,1.956000,2.780000,2.444000,...,2.0,-11.2,8.900000,8.700000,1.300000,1.500000,1.500000,1.500000,1.500000,1.5
4,Angola,Sub-Saharan Africa,Middle Africa,Africa,2.400000,-4.400000,0.000000,4.200000,6.000000,3.500000,...,-0.7,-5.6,1.100000,2.800000,3.500000,3.700000,4.000000,4.100000,4.200000,4.2

In [ ]:
gdp.isnull().sum()

Real GDP growth (Annual percent change)     1
UN_REGION                                   8
UN-SUBREGION                               10
STRAT-3                                     8
1980                                        2
1981                                        2
1982                                        2
1983                                        2
1984                                        2
1985                                        2
1986                                        2
1987                                        2
1988                                        2
1989                                        2
1990                                        2
1991                                        2
1992                                        2
1993                                        2
1994                                        2
1995                                        2
1996                                        2
1997                                        2
1998                                        2
1999                                        2
2000                                        2
2001                                        2
2002                                        2
2003                                        2
2004                                        2
2005                                        2
2006                                        2
2007                                        2
2008                                        2
2009                                        2
2010                                        2
2011                                        2
2012                                        2
2013                                        2
2014                                        2
2015                                        2
2016                                        2
2017                                        2
2018                                        2
2019                                        2
2020                                        2
2021                                        2
2022                                        2
2023                                        2
2024                                        2
2025                                        2
2026                                        2
2027                                        2
2028                                        7
dtype: int64

In [ ]:
gdp = gdp.dropna()
gdp.isnull().sum()

Real GDP growth (Annual percent change)    0
UN_REGION                                  0
UN-SUBREGION                               0
STRAT-3                                    0
1980                                       0
1981                                       0
1982                                       0
1983                                       0
1984                                       0
1985                                       0
1986                                       0
1987                                       0
1988                                       0
1989                                       0
1990                                       0
1991                                       0
1992                                       0
1993                                       0
1994                                       0
1995                                       0
1996                                       0
1997                                       0
1998                                       0
1999                                       0
2000                                       0
2001                                       0
2002                                       0
2003                                       0
2004                                       0
2005                                       0
2006                                       0
2007                                       0
2008                                       0
2009                                       0
2010                                       0
2011                                       0
2012                                       0
2013                                       0
2014                                       0
2015                                       0
2016                                       0
2017                                       0
2018                                       0
2019                                       0
2020                                       0
2021                                       0
2022                                       0
2023                                       0
2024                                       0
2025                                       0
2026                                       0
2027                                       0
2028                                       0
dtype: int64

In [ ]:
gdp.to_csv('Clean_GDP.csv', index=False)

In [ ]:
gdp.to_csv('/content/drive/MyDrive/Final Project Boolean/Clean Dataset e IPYINB/Clean_GDP.csv', index=False)

# 5. TEMP-VAR

In [ ]:
temp_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/01_Dataset_final-project - TEMP-VAR.csv')
temp = pd.DataFrame(temp_raw)

In [ ]:
temp.head()

   Year  ANNUAL MEAN   Lowess No_Smoothing   Unnamed: 3  Unnamed: 4 Unnamed: 5
0  1880        -0.17                  -0.10         NaN         NaN        NaN
1  1881        -0.09                  -0.13         NaN         NaN        NaN
2  1882        -0.11                  -0.17         NaN         NaN
3  1883        -0.18                  -0.21         NaN         NaN        NaN
4  1884        -0.29                  -0.24         NaN         NaN        NaN

In [ ]:
temp.isnull().sum()

Year                       0
ANNUAL MEAN                0
 Lowess No_Smoothing       0
Unnamed: 3               143
Unnamed: 4               143
Unnamed: 5               142
dtype: int64

In [ ]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   143 non-null    int64
 1   ANNUAL MEAN            143 non-null    float64
 2    Lowess No_Smoothing   143 non-null    float64
 3   Unnamed: 3             0 non-null      float64
 4   Unnamed: 4             0 non-null      float64
 5   Unnamed: 5             1 non-null      object
dtypes: float64(4), int64(1), object(1)
memory usage: 6.8+ KB

In [ ]:
colonne_da_eliminare_temp = ['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5']
temp = temp.drop(columns=colonne_da_eliminare_temp)

In [ ]:
print(temp.head())

   Year  ANNUAL MEAN   Lowess No_Smoothing
0  1880        -0.17                  -0.10
1  1881        -0.09                  -0.13
2  1882        -0.11                  -0.17
3  1883        -0.18                  -0.21
4  1884        -0.29                  -0.24

In [ ]:
temp.to_csv('Clean_Temperature.csv', index=False)

# 6. Tot_Emissions 80-20

In [ ]:
emi_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/historical_emissions.csv')
emi = pd.DataFrame(emi_raw)
emi.head()

,ISO,Country,STRAT-3,Data source,Sector,Gas,Unit,2020,2019,2018,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,WORLD,NaN,NaN,GCP,Total fossil fuels and cement,CO2,MtCO₂e,35264.09.00,37082.56.00,36826.51.00,...,22410.4,22108.19.00,21273.9,20627.36.00,20325.49.00,19665.15.00,19006.54.00,18884.49.00,19036.12.00,19501.26.00
1,CHN,China,Asia,GCP,Total fossil fuels and cement,CO2,MtCO₂e,10956.21.00,10741.0,10354.28.00,...,2464.05.00,2426.29.00,2258.14.00,2104.21.00,1998.08.00,1845.23.00,1694.22.00,1606.59.00,1476.49.00,1494.5
2,USA,United States of America,Northern America,GCP,Total fossil fuels and cement,CO2,MtCO₂e,4716.09.00,5259.14.00,5377.06.00,...,5132.13.00,5050.48.00,4826.05.00,4663.37.00,4652.58.00,4662.14.00,4429.37.00,4447.26.00,4686.37.00,4808.52.00
3,IND,India,Asia,GCP,Total fossil fuels and cement,CO2,MtCO₂e,2445.01.00,2626.46.00,2600.45.00,...,541.05.00,492.09.00,455.34.00,426.31.00,397.59.00,361.56.00,352.2,325.38.00,315.37.00,292.11.00
4,RUS,Russian Federation,Europe,GCP,Total fossil fuels and cement,CO2,MtCO₂e,1624.22.00,1692.36.00,1700.45.00,...,2405.22.00,2437.31.00,2358.25.00,2348.8,2348.38.00,2177.52.00,2158.35.00,2128.17.00,2089.19.00,2129.33.00

In [ ]:
emi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 48 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISO          194 non-null    object
 1   Country      193 non-null    object
 2   STRAT-3      193 non-null    object
 3   Data source  194 non-null    object
 4   Sector       194 non-null    object
 5   Gas          194 non-null    object
 6   Unit         194 non-null    object
 7   2020         194 non-null    object
 8   2019         194 non-null    object
 9   2018         194 non-null    object
 10  2017         194 non-null    object
 11  2016         194 non-null    object
 12  2015         194 non-null    object
 13  2014         194 non-null    object
 14  2013         194 non-null    object
 15  2012         194 non-null    object
 16  2011         194 non-null    object
 17  2010         194 non-null    object
 18  2009         194 non-null    object
 19  2008         194 non-null    object
 20  2007         194 non-null    object
 21  2006         194 non-null    object
 22  2005         194 non-null    object
 23  2004         194 non-null    object
 24  2003         194 non-null    object
 25  2002         194 non-null    object
 26  2001         193 non-null    object
 27  2000         193 non-null    object
 28  1999         193 non-null    object
 29  1998         193 non-null    object
 30  1997         193 non-null    object
 31  1996         193 non-null    object
 32  1995         193 non-null    object
 33  1994         193 non-null    object
 34  1993         192 non-null    object
 35  1992         192 non-null    object
 36  1991         189 non-null    object
 37  1990         188 non-null    object
 38  1989         183 non-null    object
 39  1988         183 non-null    object
 40  1987         183 non-null    object
 41  1986         183 non-null    object
 42  1985         183 non-null    object
 43  1984         183 non-null    object
 44  1983         183 non-null    object
 45  1982         183 non-null    object
 46  1981         183 non-null    object
 47  1980         182 non-null    object
dtypes: object(48)
memory usage: 72.9+ KB

In [ ]:
emi.shape

(194, 48)

In [ ]:
emi.isnull().sum()

ISO             0
Country         1
STRAT-3         1
Data source     0
Sector          0
Gas             0
Unit            0
2020            0
2019            0
2018            0
2017            0
2016            0
2015            0
2014            0
2013            0
2012            0
2011            0
2010            0
2009            0
2008            0
2007            0
2006            0
2005            0
2004            0
2003            0
2002            0
2001            1
2000            1
1999            1
1998            1
1997            1
1996            1
1995            1
1994            1
1993            2
1992            2
1991            5
1990            6
1989           11
1988           11
1987           11
1986           11
1985           11
1984           11
1983           11
1982           11
1981           11
1980           12
dtype: int64

In [ ]:
emi_null = emi[emi.isnull().any(axis=1)]
emi_null

#contiene solo piccoli stati che non influenzeranno se cancellati

,ISO,Country,STRAT-3,Data source,Sector,Gas,Unit,2020,2019,2018,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,WORLD,NaN,NaN,GCP,Total fossil fuels and cement,CO2,MtCO₂e,35264.09.00,37082.56.00,36826.51.00,...,22410.4,22108.19.00,21273.9,20627.36.00,20325.49.00,19665.15.00,19006.54.00,18884.49.00,19036.12.00,19501.26.00
135,NAM,Namibia,Africa,GCP,Total fossil fuels and cement,CO2,MtCO₂e,4.35,4.11,4.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,PSE,State of Palestine,Asia,GCP,Total fossil fuels and cement,CO2,MtCO₂e,3.02,3.27,3.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,LSO,Lesotho,Africa,GCP,Total fossil fuels and cement,CO2,MtCO₂e,2.19,2.39,2.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,ERI,Eritrea,Africa,GCP,Total fossil fuels and cement,CO2,MtCO₂e,1.18,1.26,1.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,TLS,Timor-Leste,Asia,GCP,Total fossil fuels and cement,CO2,MtCO₂e,1.12,1.09,1.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,AND,Andorra,Europe,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.45,0.48,0.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,PLW,Palau,Oceania,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.23,0.22,0.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,KNA,Saint Kitts and Nevis,Latin America and the Caribbean,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.22,0.25,0.25,...,0.07,0.07,0.05,0.06,0.05,0.05,0.05,0.07,0.05,NaN
184,FSM,Micronesia,Oceania,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.15,0.15,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,MHL,Marshall Islands,Oceania,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.15,0.15,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,LIE,Liechtenstein,Europe,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.14,0.15,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,TUV,Tuvalu,Oceania,GCP,Total fossil fuels and cement,CO2,MtCO₂e,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
emi = emi.dropna()
emi.isnull().sum()

ISO            0
Country        0
STRAT-3        0
Data source    0
Sector         0
Gas            0
Unit           0
2020           0
2019           0
2018           0
2017           0
2016           0
2015           0
2014           0
2013           0
2012           0
2011           0
2010           0
2009           0
2008           0
2007           0
2006           0
2005           0
2004           0
2003           0
2002           0
2001           0
2000           0
1999           0
1998           0
1997           0
1996           0
1995           0
1994           0
1993           0
1992           0
1991           0
1990           0
1989           0
1988           0
1987           0
1986           0
1985           0
1984           0
1983           0
1982           0
1981           0
1980           0
dtype: int64

In [ ]:
emi.shape

(181, 48)

In [ ]:
emi.to_csv('Clean_World_Emissions_80-20.csv', index=False)

In [ ]:
emi.to_csv('/content/drive/MyDrive/Final Project Boolean/Clean Dataset e IPYINB/Clean_World_Emissions_80-20.csv', index=False)

# Population by country

In [ ]:
df1_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/Diviso_Population by country/unpopulation_dataportal_20230907121236.csv')
df1 = pd.DataFrame(df1_raw)

In [ ]:
df2_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/Diviso_Population by country/unpopulation_dataportal_20230907121456.csv')
df2 = pd.DataFrame(df2_raw)

In [ ]:
df3_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/Diviso_Population by country/unpopulation_dataportal_20230907121658.csv')
df3 = pd.DataFrame(df3_raw)

In [ ]:
df4_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/Diviso_Population by country/unpopulation_dataportal_20230907121847.csv')
df4 = pd.DataFrame(df4_raw)

In [ ]:
df5_raw = pd.read_csv('/content/drive/My Drive/Final Project Boolean/Final_Raw_Data/Diviso_Population by country/unpopulation_dataportal_20230907122000.csv')
df5 = pd.DataFrame(df5_raw)

In [ ]:
frames = [df1, df2, df3, df4, df5]
pop_by_country = pd.concat(frames, axis=0)

In [ ]:
pop_by_country.head()

,Country,Year,Median age of population,Total population by sex,Total fertility rate,Life expectancy at birth,Total net-migration
0,Afghanistan,1980,15.87,12486.63,7.59,39.62,-1205.40
1,Afghanistan,1981,15.76,11155.20,7.57,40.16,-2127.15
2,Afghanistan,1982,15.66,10088.29,7.55,37.77,-586.94
3,Afghanistan,1983,15.58,9951.45,7.54,38.19,-192.87
4,Afghanistan,1984,15.49,10243.69,7.51,33.33,322.02

In [ ]:
pop_by_country.shape

(10428, 7)

In [ ]:
pop_by_country.dtypes

Country                      object
Year                          int64
Median age of population    float64
Total population by sex     float64
Total fertility rate        float64
Life expectancy at birth    float64
Total net-migration         float64
dtype: object

In [ ]:
pop_by_country.isnull().sum()

Country                     0
Year                        0
Median age of population    0
Total population by sex     0
Total fertility rate        0
Life expectancy at birth    0
Total net-migration         0
dtype: int64

In [ ]:
paesi_unici = pop_by_country['Country'].unique()
numero_paesi_unici = len(paesi_unici)
print("Numero di paesi unici:", numero_paesi_unici)

Numero di paesi unici: 237

In [ ]:
pop_by_country.to_csv('Clean_pop_by_country_80_23.csv', index=False)